.selectedColumn{
    background-color: #E6E6E6;
}
.notSelectedColumn{
    background-color: white;
}
.myTitle{
    font-size: 18px;
    color:#112978;
    font-weight:bold;
}
.mySubTitle{
    font-size: 14px;
    color:#112978;
    font-weight:bold;
}
#topDiv{
    position: absolute;
    z-index: 100;
    top:5px;
    height: 60px;
    left:5px;
    right: 5px;
    overflow: auto;
}

#idMenuVerticalColorDiv{
    position:absolute;
    z-index: 150;
    left:250px;
    width: 20px;
    top:80px;
    bottom: 30px;
    overflow: auto;
    display: block; 
    background-color: #07d2f0;
}

#menuDiv{
    position:absolute;
    z-index: 80;
    top:80px;
    left:5px;
    width: 240px;
    bottom: 30px;
    overflow: auto;
    display: block;
}

#contentDiv{
    position: absolute;
    z-index: 90;
    top:80px;
    bottom:30px;
    left:260px;
    right:5px; 
    overflow: auto;
}

#idFunctionsColorDiv{
    position: absolute;  
    z-index: 100;
    top:25%;
    bottom:25%;
    right:200px;
    width:30px;
    background-color: #07d2f0;
    display: none;
}

#functionsDiv{
    position: absolute;  
    z-index: 500;top:25%;bottom:25%;right:10px;width: 180px;
    display: block;
    border: 1px solid #AAA;
    background: white;
    display:none;
}

#bottomDiv{
    position:absolute;
    z-index: 200;
    bottom:2px;
    height: 10px;
    left:5px;
    right:5px;
}







