
#idFunctionsColorDiv{
    position: fixed;  
    z-index: 100;
    top:25%;
    bottom:25%;
    right:200px;
    width:20px;
    background-color: #07d2f0;
    display: none;
}

#functionsDiv{
    position: fixed;  
    z-index: 500;top:25%;bottom:25%;right:10px;width: 180px;
    display: block;
    border: 1px solid #AAA;
    background: white;
    display:none;
}



.deneme{
    background-image:  url("#{resource['ace-mint-choc:images/ui-icons_222222_256x240.png']}");
    background-position: -176px -96px;
}

img{
    border: 0 none;
}


.calculated_field{
    background-color: yellow;  
    width: 95%;
}

.uysApproved{
    width:99%;
    text-align:center;
    font-size: 12px;
    background-color: #a4ee9e;
}
.uysNotApproved{
    width:99%;
    text-align:center;
    font-size: 12px;
    background-color: #f38273;
}
.uysWarning{
    width:99%;
    text-align:center;
    font-size: 12px;
    background-color: #dfe36d;
}

.CSS3ButtonStyle2{
    width: 100%;
    padding: 6px 10px;
    border: solid 2px rgb(153, 153, 153);
    color: #333;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
    line-height: 1;
    /*    -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        border-radius: 7px;
        box-shadow: 0 1px 2px #000;
        -moz-box-shadow: 0 1px 2px #000;
        -webkit-box-shadow: 0 1px 2px #000;*/
    -webkit-border-radius: 2px 2px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(221, 221, 221)));
}

.CSS3ButtonStyle2:hover{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(98,202,227)));
    /*    border-color: rgb(98,202,227);*/
    width: 100%;
}

.freeze{
    width: 100%;
    padding: 6px 10px;
    border: solid 2px rgb(153, 153, 153);
    color: #333;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(255,255,255,1);
    line-height: 1;
    -webkit-border-radius: 2px 2px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255, 255, 255)), to(rgb(0,170,227)));
}


ul{
    margin:0px 0px 0px 15px;
    padding:0px;
}

.normalCellStyle{
    text-align: left;
    white-space: nowrap;
}
.warningCellStyle{
    text-align: left;
    white-space: nowrap;
    font-weight: bold;
    color: black;
    background-color: yellow;
    height: 20px;
}
.disabledCellStyle{
    text-align: left;
    white-space: nowrap;
    background-color: grey;
    height: 20px;
}

.applicationMessageError {
    color: red;
    font-size:10px;
    font-weight:bold;
    white-space:nowrap; }

.applicationMessageSuccess {
    color: green;
    font-size:10px;
    font-weight:bold;
    white-space:nowrap; }


.applicationWarnMessageNoFile {
    color: red;
    font-size:32px;
    font-weight:bold;
    white-space:nowrap; 
}

.applicationMessageError1 {
    color: red;
    font-size:10px;
    font-weight:bold;
    font-family: monospace;
    white-space:nowrap; }

.applicationMessageSuccess1 {
    color: green;
    font-size:10px;
    font-weight:bold;
    font-family: monospace;
    white-space:nowrap; }

.applicationMessageWarn{
    color: #B57C02;
    font-size:10px;
    font-weight:bold;
    white-space:nowrap; }




.VTopHLeftW60p{
    text-align:left;
    vertical-align:top;
    width:60%;
}


.noborder {
    border-width: 0px;
    text-align: center;
    vertical-align:middle; }


.nospace {
    height: 10px;
    white-space: nowrap; }

.VMiddleHLeftNowrap{
    vertical-align:middle;
    text-align:left;
    white-space:nowrap;
}

.VMiddleHRightNowrap{
    vertical-align:middle;
    text-align:right;
    white-space:nowrap;
}



.ui-accordion { width: 100%; }
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em .7em; }
.ui-accordion-icons .ui-accordion-header a { padding-left: 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
/*.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; zoom: 1; }*/
.ui-accordion .ui-accordion-content { padding: 0; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; zoom: 1; }
.ui-accordion .ui-accordion-content-active { display: block; }

.VTopHLeft {
    vertical-align:top;
    text-align: left;
}

.VTopHLeftNowrap {
    vertical-align:top;
    text-align: left;
    white-space:nowrap;
}

.VTopHLeftW100p {
    vertical-align:top;
    text-align: left;
    width: 100%; 
} 

.VTopHLeftW00pNowrap {
    vertical-align:top;
    text-align: left;
    width:0%;
    white-space:nowrap;
}
.VTopHLeftW10pNowrap {
    vertical-align:top;
    text-align: left;
    width:10%;
    white-space:nowrap;
}
.VTopHLeftW20pNowrap {
    vertical-align:top;
    text-align: left;
    width:20%;
    white-space:nowrap;
}

.VTopHLeftW50pNowrap {
    vertical-align:top;
    text-align: left;
    width:50%;
    white-space:nowrap;
}
.VTopHLeftW60pNowrap {
    vertical-align:top;
    text-align: left;
    width:60%;
    white-space:nowrap;
}

.VTopHLeftW80pNowrap {
    vertical-align:top;
    text-align: left;
    width:80%;
    white-space:nowrap;
}
.VTopHLeftW90pNowrap {
    vertical-align:top;
    text-align: left;
    width:90%;
    white-space:nowrap;
}
.VTopHLeftW100pNowrap {
    vertical-align:top;
    text-align: left;
    width:100%;
    white-space:nowrap;
}

.VTopHLeftW00pxNowrap {
    vertical-align:top;
    text-align: left;
    width: 0px; 
    white-space:nowrap;
}
.VTopHLeftW10pxNowrap {
    text-align: left;
    vertical-align:top;
    width: 10px; 
    white-space:nowrap;
}
.VTopHLeftW20pxNowrap {
    text-align: left;
    vertical-align:top;
    width: 20px; 
    white-space:nowrap;
}
/*30*/
.VTopHLeftW30pxNowrap {
    text-align: left;
    vertical-align:top;
    width: 30px; 
    white-space:nowrap;
}
.VTopHLeftW30pNowrap {
    vertical-align:top;
    text-align: left;
    width:30%;
    white-space:nowrap;
}
.VTopHLeftW30p  {
    vertical-align:top;
    text-align: left;
    width:30%;
}
.VTopHRightW30px {
    text-align: right;
    vertical-align:top;
    width: 30px; 
}
.VTopHRightW30p {
    text-align: right;
    vertical-align:top;
    width: 30%; 
}
/*40*/
.VTopHLeftW40p{
    text-align:left;
    vertical-align:top;
    width:40%;
}
.VTopHLeftW40pNowrap {
    vertical-align:top;
    text-align: left;
    width:40%;
    white-space:nowrap;
}
.VTopHLeftW40px {
    text-align: left;
    vertical-align:top;
    width: 40px; 
}
.VTopHLeftW40pxNowrap {
    text-align: left;
    vertical-align:top;
    width: 40px; 
    white-space:nowrap;
}
.VTopHLeftW50pxNowrap {
    text-align: left;
    vertical-align:top;
    width: 50px; 
    white-space:nowrap;
}
.VTopHLeftW60pxNowrap {
    text-align: left;
    vertical-align:top;
    width: 60px; 
    white-space:nowrap;
}
.VTopHLeftW70pxNowrap {
    text-align: left;
    vertical-align:top;
    width: 70px; 
    white-space:nowrap;
}
.VTopHLeftW70pNowrap {
    vertical-align:top;
    text-align: left;
    width:70%;
    white-space:nowrap;
}
.VTopHLeftW70p {
    vertical-align:top;
    text-align: left;
    width:70%;
}
.VTopHLeftW80pxNowrap {
    text-align: left;
    vertical-align:top;
    width: 80px;
    white-space:nowrap;
}
.VTopHLeftW90pxNowrap {
    text-align: left;
    vertical-align:top;
    width: 90px; 
    white-space:nowrap;
}
.VTopHLeftW100pxNowrap {
    text-align: left;
    vertical-align:top;
    width: 100px;
    white-space:nowrap;
}
.VTopHLeftW110pxNowrap {
    text-align: left;
    vertical-align:top;
    width: 110px; 
    white-space:nowrap;
}
.VTopHLeftW120pxNowrap {
    text-align: left;
    vertical-align:top;
    width: 120px; 
    white-space:nowrap;
}





.VTopHCenterW40px {
    text-align: center;
    vertical-align:top;
    width: 40px; 
    white-space:nowrap;
}


.VTopHMiddle{
    vertical-align:top;
    text-align:center;
}

.VBottomHRight {
    text-align: right;
    vertical-align:bottom; 
}
.VBottomHRightW100p {
    text-align: right;
    vertical-align:bottom; 
    width: 100%;
}

.VMiddleHRight {
    vertical-align:middle; 
    text-align: right;
}
.VMiddleHRightW00px {
    text-align: right;
    vertical-align:middle; 
    white-space: nowrap;
    width: 0px;
}
.VMiddleHRightW20px {
    text-align: right;
    vertical-align:middle; 
    white-space: nowrap;
    width: 20px;
}
.VMiddleHLeftW100p {
    text-align:left;
    vertical-align:middle;
    width:100%;
}
.VMiddleHLeftW100pNowrap {
    text-align:left;
    vertical-align:middle;
    white-space:nowrap;
    width:100%;
}
.VMiddleHLeftW00pxNowrap{
    text-align:left;
    vertical-align:middle;
    white-space:nowrap;
    width:0px;
}
.VMiddleHLeftW10pxNowrap{
    text-align:left;
    vertical-align:middle;
    white-space:nowrap;
    width:0px;
}
.VMiddleHLeftW20pxNowrap{
    text-align:left;
    vertical-align:middle;
    white-space:nowrap;
    width:0px;
}
.VMiddleHLeftW30pxNowrap{
    text-align:left;
    vertical-align:middle;
    white-space:nowrap;
    width:0px;
}
.VMiddleHLeftW40pxNowrap{
    text-align:left;
    vertical-align:middle;
    white-space:nowrap;
    width:0px;
}
.VMiddleHLeftW50pxNowrap {
    vertical-align:middle;
    text-align:left;
    white-space:nowrap;
    width:50px; }

.VMiddleHLeftW100pxNowrap {
    vertical-align:middle;
    text-align:left;
    white-space:pre;
    width:100px; 
}

.VTopHRight {
    vertical-align:top; 
    text-align: right;
} 
.VTopHRightNowrap {
    vertical-align:top;
    text-align: right;
    white-space:nowrap;
}
.VTopHRightW00pxNowrap {
    vertical-align:top;
    text-align: right;
    width: 0px; 
    white-space:nowrap;
}
.VTopHRightW20px {
    text-align: right;
    vertical-align:top;
    width: 20px; 
}
.VTopHRightW100p{
    vertical-align:top;
    text-align:right;
    width: 100%;
}
.VTopHRightW100pNowrap {
    vertical-align:top;
    text-align: right;
    width: 100%; 
    white-space:nowrap;
}
.VBottomHRightW00pxNowrap {
    vertical-align:bottom;
    text-align: right;
    width: 0px; 
    white-space:nowrap;
}


/******************************************************************** HANDSON */
.handsontable table.htCore tbody tr th{
    font-size: 14px;
    color: gray;
};
.handsontable table.htCore tbody tr td{
    font-size: 12px;
    color: gray;
};
.handsontable table.htCore{
    color: gray;
};
.handsontable table.htCore th{
    text-align: left;

    color: gray;
};
.handsontable table.htCore tbody tr td{
    font-size: 12px;
    color: gray;
};
.handsontable .htCore thead th div span{
    font-size: 14px;
    color: gray;
} 

/*************************************************************** WELCOME PAGE */

table{
    font-size: 14px;
    font-family:Verdana,Arial,sans-serif;
    color: gray;
}

.telmanClassName {
    text-align: right;
}
table.uploadedFiles{
    border: 2px solid black;
    border-spacing: 0px;
}
table.uploadedFiles td{
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
table.uploadedFiles td h{
    font-weight: bold;
} 



p {
    font-size: 14px;
    font-family:Verdana,Arial,sans-serif;
    color: gray;
}
ul {
    font-size: 14px;
    font-family:Verdana,Arial,sans-serif;
    color: gray;
}
ol {
    font-size: 14px;
    font-family:Verdana,Arial,sans-serif;
    color: gray;
}

input {
    font-size: 14px;
    font-family:Verdana,Arial,sans-serif;
    color: gray;
}
/*span {
    font-size: 14px;
    font-family:Verdana,Arial,sans-serif;
    color: gray;
}*/


