<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>
        JSF 2.0: Template Application
    </display-name>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>    
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>redmond</param-value>       
        <!--<param-value>bootstrap</param-value>-->       
        <!--<param-value>nova-light</param-value>-->       
    </context-param>
    <context-param>
        <param-name>com.sun.faces.validateXml</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>muhurdar.folder</param-name>
        <param-value>/tmp/muhurdar</param-value>
    </context-param>    
    
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    </servlet>
   
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
        <url-pattern>*.xhtml</url-pattern>       
    </servlet-mapping>
    
    <servlet>
        <servlet-name>JnlpDownloadServlet</servlet-name>
        <servlet-class>jnlp.sample.servlet.JnlpDownloadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>JnlpDownloadServlet</servlet-name>
        <url-pattern>/webstart/*</url-pattern>
    </servlet-mapping>
   
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>protected/main.xhtml</welcome-file>
    </welcome-file-list>
    
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>OpenLdap</realm-name>
        <form-login-config>
            <form-login-page>/login.html</form-login-page>
            <form-error-page>/error.html</form-error-page>
        </form-login-config>
    </login-config>
    
    <!-- 
    exclude /login form authorization
    OMIT auth-constraint 
    --> 
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>app</web-resource-name>
            <url-pattern>/loginJaas</url-pattern>
            <url-pattern>/loginJaas/*</url-pattern>
            <url-pattern>/fphi/*</url-pattern>
            <url-pattern>/fpop</url-pattern>
            <url-pattern>/fpmx</url-pattern>
            <url-pattern>/public</url-pattern>
            <url-pattern>/public/*</url-pattern>
            <url-pattern>/muhurdar</url-pattern>
            <url-pattern>/muhurdar/*</url-pattern>
        </web-resource-collection>
    </security-constraint>

    <security-constraint>
        <display-name>Admin</display-name>
        <web-resource-collection>
            <web-resource-name>XHTML Protected Pages</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>PUT</http-method>
            <http-method>HEAD</http-method>
            <http-method>POST</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>
                only admin group can access
            </description>
            <role-name>architect</role-name>          
            <role-name>uysviewer</role-name>
            <role-name>uysuser</role-name>
            <role-name>uysadmin</role-name>
            <role-name>uysadmin2</role-name>
            <role-name>uysdesigner</role-name>
            <role-name>uystester</role-name>
            <role-name>spkuser</role-name>
            <role-name>kayarchitect</role-name>
            <role-name>kayadmin</role-name>
            <role-name>kayuser</role-name>
            <role-name>kpbarchitect</role-name>
            <role-name>kpbadmin</role-name>
            <role-name>databankarchitect</role-name>
            <role-name>frxarchitect</role-name>
            <role-name>frxadmin</role-name>
            <role-name>frxuser</role-name>
            <role-name>regarchitect</role-name>
            <role-name>regadmin</role-name>
            <role-name>reguser</role-name>
            <role-name>ionadmin</role-name>
            <role-name>ionuser</role-name>
            <role-name>ionviewer</role-name>
            <role-name>ypiadmin</role-name>
            <role-name>ypiuser</role-name>
            <role-name>akuser</role-name>
            <role-name>pyuser</role-name>
            <role-name>gyuser</role-name>
            <role-name>gsuser</role-name>
            <role-name>gsyoout</role-name>
            <role-name>mkuser</role-name>
            <role-name>bnkuser</role-name>
            <role-name>ktbuser</role-name>
            <role-name>tspb_imim</role-name>
            <role-name>bnkakuser</role-name>
            <role-name>tdubtdub</role-name>
            <role-name>tdubbanka</role-name>
            <role-name>tdubgd</role-name>
            <role-name>tdubsdu</role-name>
            <role-name>tdubldu</role-name>
            <role-name>denemetest</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <description/>
        <role-name>denemetest</role-name>        
    </security-role>
    <security-role>
        <description/>
        <role-name>admin</role-name>        
    </security-role>
    <security-role>
        <description/>
        <role-name>uysviewer</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>architect</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>databankarchitect</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>uysadmin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>uysadmin2</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>uysuser</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>uysdesigner</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>uystester</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>kpbarchitect</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>kpbadmin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>tspakb</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>kayarchitect</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>kayadmin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>kayuser</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>spkuser</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>frxarchitect</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>frxadmin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>frxuser</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>frxviewer</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>regarchitect</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>regadmin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>reguser</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>ionadmin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>ionuser</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>ionviewer</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>ypiadmin</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>ypiuser</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>ypiviewer</role-name>
    </security-role>
    <!--USER TYPE BASED ROLE-->
    <security-role>
        <description/>
        <role-name>akuser</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>pyuser</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>gyuser</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>gsuser</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>gsyoout</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>mkuser</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>bnkuser</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>ktbuser</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>mbuser</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>ybuser</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>kbuser</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>tspb_imim</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>bnkakuser</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>tdubtdub</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>tdubbanka</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>tdubgd</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>tdubsdu</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>tdubldu</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>anonim</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>B_KON_EGT</role-name>
    </security-role>
    <security-role>
        <description/>        
        <role-name>B_KON_IZL</role-name>
    </security-role>
    <security-role>
        <description/>        
        <role-name>B_KON_KUL</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>B_KON_ORT</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>B_KON_VEK</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>B_KON_YON</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>B_UYE_UZM</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>B_UYE_UZMA</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>B_UYE_UZMS</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>T_TEM_BIK</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>T_TEM_BIS</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>T_TEM_BPF</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>T_TEM_BRP</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>T_TEM_BYR</role-name>
    </security-role>    
    <security-role>
        <description/>
        <role-name>T_TEM_BRB</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>T_TEM_BRT</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>T_TEM_IMD</role-name>
    </security-role>        
    <security-role>
        <description/>
        <role-name>T_TEM_CAL</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>T_TEM_MUH</role-name>
    </security-role>
    <security-role>
        <description/>        
        <role-name>T_TEM_TKG</role-name>
    </security-role>
    <security-role>
        <description/>        
        <role-name>T_TEM_VEK</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TDUB_BT_ADM</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TDUB_BT_ARCH</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TDUB_BT_USER</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TDUB_BT_VIEW</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TDUB_DEGK_KOB</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TDUB_DEGK_KOU</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TDUB_FIM_MD</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TDUB_FIM_UZM</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TDUB_GS_GS</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TDUB_GS_GYS</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TDUB_IMA_HIZ</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TDUB_IMA_UZM</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TDUB_IMA_UZY</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TDUB_UYS_MD</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TDUB_UYS_UZM</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TDUB_UYS_UZY</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TDUB_YK_YKB</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TDUB_YK_YKU</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TDUB_YK_YKV</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TGBM_BT_UZM</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TGBM_FRM_MD</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TGBM_FRM_MDY</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TGBM_FRM_UZM</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TGBM_FRM_UZY</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TGBM_GM_GM</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TGBM_IGV_DIR</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TGBM_IGV_UZM</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TGBM_YK_YKB</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TGBM_YK_YKU</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TGBM_YK_YKV</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>TIKT_EGI_MD</role-name>  
    </security-role>    
</web-app>
